@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap') ;

.div-searchName {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-name {
  border: solid 1px;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 0;
  width: 350px;
}

h3 {
  color: darkgray;
  font-family: Anton , sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}
