table {
  background-color: #4f4f4f;
  border-collapse: collapse;
  font-size: small;
  margin-top: 1px;
  width: 100%;
}

th {
  color: #e9e9e9;
  text-align: center;
  width: 80px;
}

td {
  color: gold;
  text-align: center;
}

td, th {
  border: 0.5px solid darkgray;
  padding: 0;
}

.btn-deleted-filter {
  background-color: red;
  border: 0;
  border-radius: 10px;
  color: white;
  width: 20px;
}

.div-deleted-filter {
  align-items: center;
  background-color: white;
  border: 1px dashed #4f4f4f;
  border-radius: 10px;
  color: #4f4f4f;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  height: 21px;
  justify-content: space-between;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  width: 240px;
}

.div-input-bnt {
  background-color: #4f4f4f;
}
